/*/#################################################################################################################/*/
/*!*                                        this is the query for mobile                                             *!*/
/*/#################################################################################################################/*/
@media (max-width: 768px) {
    .chat{display: none}

    .bigone{

        width:100%;
        border-radius: 10px;
        margin-left: 5px;

    }

    .title_video{
        color: white;
        position: relative;
        top: 20px;
        margin-top: -15px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 25px;
        font-weight: bold;
    }
    .title_video:hover{
        color: crimson;
    }


    .maincontent{
        grid-area: main;
        margin: 0 5px;
        background: rgba(25,25,25,0.9);
    }

    .output{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
    }

    .search{
        height: 30px;
        width: 300px;
        border-radius: 5px;
        border: none;
        background:rgba(255,255,255,0.3);
        color: black;
        margin-top:10px;
        font-size: 20px;
        font-family: 'Josefin Sans', sans-serif;
    }
    .search:hover{
        background:rgba(255,255,255,0.8);
    }
    .div_search_mobile input[type=text]:focus {
        outline: none;
        background-image: url('searchicon.png');
        background-position: 10px 10px;
    }

    .div_search_mobile{
        font-family: 'Josefin Sans', sans-serif;
        color:white;
        font-size: 30px;
        margin-top: 10px;
        font-weight: bold;
        padding-top: 10px;
    }


    .search_img{
        position: relative;
        top: 10px;
    }


    .flex-item{
        margin: 25px 10px 10px 10px;
    }

    .newSaga{
        margin-top: 45px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .plus_saga{
        border-radius: 15px;
        color: black;
    }
    .plus_saga:hover{
        transform: scale(1.1);
    }
    .button_plus{
        background: none;
        border: none;
        border-radius: 15px;
    }

    #title-room{
        font-family: 'Josefin Sans', sans-serif;
        color: white;
        font-weight: bolder;
        font-size: 20px;
        margin-top: 10px;
    }

    .room-up{
        background-color: #676767;
        margin-top: 20px;
        padding-top: 10px;
        width: 40%;
        position: relative;
        left: 29.5%;
        min-width: 200px;
        padding-bottom: 10px;
    }

    .room-style{
        font-family: 'Josefin Sans', sans-serif;
        color: white;
        font-weight: bolder;
        font-size: 20px;
        background-color: #676767;
        border-radius: 15px;
        padding: 20px 20px;
        margin-top: 20px;
    }
    #room-name{
        font-size:20px;
        color: #1B222C;
        margin-bottom: 10px;
    }
    #join-room{
        height: 40px;
        width: 40px;
        color: #1B222C;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    #join-room:hover{
        transform: scale(1.1);
        opacity:0.8;

    }
    #form-text{
        border-radius: 5px;
        border: none;
        background:rgba(255,255,255,0.3);
        color: black;font-family: 'Josefin Sans', sans-serif;
        height:20px;
        width:100%;
        max-width: 350px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 13px;
    }

/*/++++++++++++++++++++++++++++++++++++++++++++Upload-form-Style***********************!*/
/*/++++++++++++++++++++++++++++++++++++++++++++Upload-form-Style**********************!*/

/*/============================Main-Watching=================================/*/
    .series_title{
        color:White;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
    }

    #series-title{
        font-family: 'Josefin Sans', sans-serif;
        color:white;
        font-weight: bold;
        margin-top: 10px;
        font-size: 20px;
    }
    .parent{
        position: relative;
    }


    .img1{
        position: relative;
        width: 250;
        height: 190;
        top: 0;
        left: 0;
        border-radius: 10px;
    }
    .img2{
        position: absolute;
        top: 50px;
        left: 70px;
        width:100;
        height: 100;
        visibility: hidden;
        border-radius: 10px;

    }
    .img1:hover{
        transform: scale(1.1);
        opacity:0.5;
    }
    .img2:hover{
        visibility: visible;
    }

    .img1:hover +.img2{
        visibility: visible;
    }
    .button{
        border: none;
        background-color: #555555;
        color: white;
        border-radius: 4px;
        margin-top: 4px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        padding: 5px 12px;
        font-size: 15px;
    }
    .button:hover{
        transform: scale(1.1);
        opacity:0.8;
    }
    .deleteSeries{
        border: none;
        background-color: #555555;
        color: white;
        border-radius: 4px;
        margin-top: 4px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        padding: 5px 12px;
        font-size: 15px;

    }
    .editNameButton{
        border: none;
        background-color: #555555;
        color: white;
        border-radius: 4px;
        margin-top: 4px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        padding: 5px 12px;
        font-size: 15px;

    }
    .editName{
        border-radius: 5px;
        border: none;
        background:rgba(255,255,255,0.3);
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        height:20px;
        width:150px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 13px;
    }
    .editName::placeholder{
        color:white;
    }
    .next_episodes{
        border: none;
        background-color: #555555;
        color: white;
        border-radius: 4px;
        margin-top: 4px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        padding: 5px 12px;
        font-size: 15px;
    }
    .next_episodes:hover{
        transform: scale(1.1);
        opacity:0.8;
    }

}




/*#################################################################################################################*/
/*                                    this is the query for desktop                                                */
/*#################################################################################################################*/
@media (min-width: 768px) {
    .maincontent{
        background: rgba(25,25,25,0.9);
        grid-area: main;
        padding: 0;
        min-height: 700px;
    }

    .output{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
    }

    #title-room{
        font-family: 'Josefin Sans', sans-serif;
        color: white;
        font-weight: bolder;
        font-size: 20px;
        margin-top: 10px;
    }
    .room-up{
        background-color: #676767;
        margin-top: 20px;
        padding-top: 10px;
        width: 40%;
        position: relative;
        left: 29.5%;
        min-width: 200px;
        padding-bottom: 10px;
    }

    .room-style{
        font-family: 'Josefin Sans', sans-serif;
        color: white;
        font-weight: bolder;
        font-size: 20px;
        background-color: #676767;
        border-radius: 15px;
        padding: 20px 20px;
        margin-top: 20px;
    }
    #room-name{
        font-size:20px;
        color: #1B222C;
        margin-bottom: 10px;
    }
    #join-room{
        height: 40px;
        width: 40px;
        color: #1B222C;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    #join-room:hover{
        transform: scale(1.1);
        opacity:0.8;

    }
    #form-text{
        border-radius: 5px;
        border: none;
        background:rgba(255,255,255,0.3);
        color: black;font-family: 'Josefin Sans', sans-serif;
        height:20px;
        width:100%;
        max-width: 350px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 13px;
    }

    .search{
        height: 30px;
        width: 300px;
        border-radius: 5px;
        border: none;
        background:rgba(255,255,255,0.3);
        color: black;
        margin-top:10px;
        font-size: 20px;
        font-family: 'Josefin Sans', sans-serif;
    }
    .search:hover{
        background:rgba(255,255,255,0.8);
    }
    .div_search_mobile input[type=text]:focus {
        outline: none;
        background-image: url('searchicon.png');
        background-position: 10px 10px;
    }


    .search_img{
        position: relative;
        top: 10px;
        left: 10px;
    }
    .div_search_mobile{
        font-family: 'Josefin Sans', sans-serif;
        color:white;
        font-size: 30px;
        margin-top: 10px;
        font-weight: bold;
    }

    .flex-item{
        margin: 25px 10px 10px 10px;

    }

    .newSaga{
        margin-top: 45px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .plus_saga{
        border-radius: 15px;
        color: black;
    }
    .plus_saga:hover{
        transform: scale(1.1);
    }
    .button_plus{
        background: none;
        border: none;
        border-radius: 15px;
    }


    /*++++++++++++++++++++++++++++++++++++++++++++Upload-form-Style******************************************************************/
    /*++++++++++++++++++++++++++++++++++++++++++++Upload-form-Style*****************************************************************/

    /*============================Main-Watching=================================*/
    .series_title{
        color:White;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
    }
    .movie_title{
        color:white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
    }
    .maincontent_watching{
        background: rgba(25,25,25,0.9);
        grid-area: main;
        padding: 0;
        min-height: 700px;
    }
    .series_title:hover{
        color: #ce1126;
        font-weight: bold;
    }
    .maincontent_watching video{
        margin-left: -25px;
        margin-right: -25px;
    }
    /*++++++++++++++++++++++++++++++++++++++++++++ROOM-MAIN******************************************************************/
    /*++++++++++++++++++++++++++++++++++++++++++++ROOM-MAIN******************************************************************/
    .main_room{
        background: rgba(25,25,25,0);
        padding: 0;
        grid-template-areas:
                "container1"
                "container2";
        grid-template-rows: 1fr auto;
        display: grid;


    }

    .container_video{
        grid-area: container1;
        display: grid;
        grid-template-areas: "ssss1 ssss2 ssss3";
        grid-template-columns: 5% 85% 10%;
        height: 100%;
        margin-top: 20px;
    }
    .ciao{
        grid-area: ssss1;
    }

    .title_video{
        color: white;
        position: relative;
        top: 20px;
        margin-top: -15px;
        text-align: left;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 25px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-weight: bold;
    }
    .title_video:hover{
        color: crimson;
    }

    .video{
        grid-area: ssss2;
    }

    .bigone{

        width:100%;
        border-radius: 10px;
        margin-left: 5px;

    }
    .episodes{
        grid-area: ssss3;
        margin:35px 10px 0 0;

    }
    .episodes button{
        float: left;
        margin-left: 10px;
        width: 90%;
        opacity: 0.8;


    }
    .episodes button:hover{
        color: white;
        background:rgba(226,18,32,0.9);

    }

    .container_rest{
        grid-area: container2;

    }



    /*.cover-saga{*/
        /*grid-area: area1;*/
        /*position: relative;*/
        /*margin-top: 5px;*/
    /*}*/
    /*.img_room{*/
       /*position: relative;*/
        /*width: 300px;*/
        /*height: 200px;*/
        /*margin-left: 5px;*/
        /*border-radius: 10px;*/
        /*margin-right: 5px;*/
    /*}*/


    .chat{
        position: relative;
        border-radius: 10px;
        background: rgba(20,20,20,0);
        float: left;
        max-height: 500px;
        /*margin-right: 112px;*/
        margin-top: 20px;
        width: 70%;
        margin-left: 13%;
        margin-bottom: 10px;
    }

    #main_container{
        max-width: 600px;
        border-radius: 15px;
        background: rgba(20,20,20,0.8);
        margin-right: 100px;


    }

    #window{
        height: 250px;
        overflow: scroll;
        background: rgba(25,25,25,0.9);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

    }

    #output_chat p{
        padding: 2px 0px; /*top/bottom - right/left*/
        margin: 0 20px;
        color: white;
        /*background-color: rgb(165, 164, 164);*/
    }

    #feedback p{
        color: #676767;
        padding: 5px 0px;
        margin: 0 15px;
        text-align: left;
    }


    #message{
        padding: 15px 15px;
        box-sizing: border-box;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        display: block;
        width: 100%;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 17px;
        float: left;
        margin-top: 5px;
        border: none;

    }

    #send{

        color: white;
        border-radius: 8px;
        margin-top: 2px;
        background: rgba(20,20,20,0.8);
        border: none;
        position: relative;
        right: 5px;
        padding-top: 10px;
    }
    #send img{
        transform: scale(1.5);
    }

    #send:hover{
        background-color: rgba(20,20,20,0.8);

    }
    .rightAlign{
        text-align: right;
    }
    .left_align{
        text-align: left;
    }
    #series-title{
        font-family: 'Josefin Sans', sans-serif;
        color:white;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;

    }
    .parent{
        position: relative;
    }
    .img1{
        position: relative;
        width: 250px;
        height: 190px;
        top: 0;
        left: 0;
        border-radius: 10px;
    }
    .img2{
        position: absolute;
        top: 50px;
        left: 70px;
        width:100px;
        height: 100px;
        visibility: hidden;
        border-radius: 10px;

    }
    .img1:hover{
        transform: scale(1.1);
        opacity:0.5;
    }
    .img2:hover{
        visibility: visible;
    }
    .img1:hover +.img2{
        visibility: visible;
    }
    .button{
        border: none;
        background-color: #555555;
        color: white;
        border-radius: 4px;
        margin-top: 4px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        padding: 5px 12px;
        font-size: 15px;
    }
    .button:hover{
        transform: scale(1.1);
        opacity:0.8;
    }
    .deleteSeries{
        border: none;
        background-color: #555555;
        color: white;
        border-radius: 4px;
        margin-top: 4px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        padding: 5px 12px;
        font-size: 15px;

    }
    .editNameButton{
        border: none;
        background-color: #555555;
        color: white;
        border-radius: 4px;
        margin-top: 4px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        padding: 5px 12px;
        font-size: 15px;

    }
    .editName{
        border-radius: 5px;
        border: none;
        background:rgba(255,255,255,0.3);
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        height:20px;
        width:150px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 13px;
    }
    .editName::placeholder{
        color:white;
    }
    .next_episodes{
        border: none;
        background-color: #555555;
        color: white;
        border-radius: 4px;
        margin-top: 4px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        padding: 5px 12px;
        font-size: 15px;
    }
    .next_episodes:hover{
        transform: scale(1.1);
        opacity:0.8;
    }
}






