/*#################################################################################################################*/
/*                                        this is the query for mobile                                             */
/*#################################################################################################################*/

@media (max-width: 768px) {

  html {
    height: 100%;
  }

  body{
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
            "header"
            "core"
            "footer";
    min-height: 100%;
    text-align: center;
    background-image: url("/animeImages/cosmos-1853491_1280.jpg");
  }

  /*########################-Header-###############################################*/
  header {
    position: relative;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(20,20,20,0.8);
    margin:  0 5px;

  }

  .Title {
    font-size: 250%;
    position: relative;
    background:rgba(226,18,32,1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 0;
  }



  .logo {
    display: none;
  }




  /*#######################################################################*/
  content {
    grid-area: core;
    grid-template-areas:
            "nav"
            "main"
            "sidebar";
    grid-template-rows: auto auto auto;
    display: grid;


  }
  /*############################-Navigation bar-###########################*/
  .navigation {
    grid-area: nav;
    background: rgba(20,20,20,0.8);
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 5px;
    padding:  0;


  }
  .Homeimage{
    height: 30px;
    width: 30px;
  }
  .navigation ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2px 1em;
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

  }

  .navigation ul li{
    font-size: 12px;
    margin-top: 5px;
  }

  .navigation ul li a {
    color:white;
    display: block;

  }

  .navigation li a:link {
    text-decoration: none;
    padding: 0px 10px 0px 10px;
  }



  /*############################-Sidebar-###########################*/

  .sidebar{
    grid-area: sidebar;
    background: rgba(20,20,20,0.8);
    margin: 10px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:  center;
  }


  .sidebar ul{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2px 1em;
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

  }


  .sidebar ul li a{
    color:white;
    display: block;
    margin: 0 50px;
  }


  .sidebar li a:link {
    text-decoration: none;
    color: white;
  }




  /*==============================Footer===========================*/
  footer{
    grid-area: footer;
    background: rgba(20,20,20,0.8);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0 5px;

    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
  }


}
/*====================================================================*/

/*====================================================================*/

/*#################################################################################################################*/
/*                                    this is the query for desktop                                                */
/*#################################################################################################################*/
@media (min-width: 768px) {

  html {
    height: 100%;
  }

  body {
    position: relative;
    display: grid;
    grid-template-rows: 200px 1fr auto;
    grid-template-areas:
            "header"
            "content"
            "footer";
    min-height: 100%;
    text-align: center;
  }

  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url("/animeImages/cosmos-1853491_1280.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

  }

  main {
    grid-template-areas: "nav main sidebar";
    grid-template-columns:15% 70% 15%;
    display: grid;

  }

  header {
    grid-area: header;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(20,20,20,0.8);
  }

  .Title {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    background:rgba(226,18,32,1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    position: relative;
    top: 70px;

  }

  .logo {
    width: 100px;
    height: 100px;
    position: static;
    margin: -10px 30px 30px 55px;
  }

  .navigation {
    grid-area: nav;
    background: rgba(20,20,20,0.8);
    font-family: 'Josefin Sans', sans-serif;
    border-bottom-left-radius: 10px;


  }

  .navigation ul {
    list-style-type: none;
    padding: 0;
  }

  .navigation ul li {
    padding-top: 40px;
    font-size: 200%;


  }

   .navigation ul li a {
    color:white;
     display: block;

  }

  .navigation li a:link {
    text-decoration: none;

  }

  .link{
    position: relative;
  }

  .link:after{
    content: '';
    /*position: absolute;*/
    border-radius: 3px;
    width: 0; height: 5px;
    display: block;
    margin-top: 0;
    background:  rgba(200,18,132,1);
    -webkit-transition: width .3s ease;
    padding: 0;
  }

  .link:hover:after{

    /* margin-top: 0; */
    width: 80%;
    left: 0;
    background: crimson;
    padding: 0;
  }







  .next_episodes{
      border: none;
      background-color: #555555;
      color: white;
      border-radius: 4px;
      margin-top: 4px;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: bold;
      padding: 5px 12px;
      font-size: 15px;
  }
  .next_episodes:hover{
      transform: scale(1.1);
      opacity:0.8;
  }



  #current-page{
    margin: 0;
    text-decoration: underline rgba(200,18,132,0);
  }

  .sidebar {
    grid-area: sidebar;
    border-bottom-right-radius: 10px;
    background: rgba(20,20,20,0.8);

  }


  .sidebar ul{
    list-style-type: none;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
  }

  .sidebar ul li{
    padding-top: 40px;
    font-size: 200%;
  }
  .sidebar ul li a{
    color:white;
    display: block;
  }


   .sidebar li a:link {
    text-decoration: none;
    color: white;
  }

  .sidelink{
    position: relative;
  }

  .sidelink:after{
    content: '';
    position: absolute;
    border-radius: 3px;
    width: 0; height: 5px;
    display: block;
    margin-top: 0;
    right: 0;
    background:  rgba(200,18,132,1);
    -webkit-transition: width .3s ease;
  }

  .sidelink:hover:after{
    margin-top: 0;
    width: 85%;
    right: 0;
    background: crimson;
  }

  body{
    font-family: TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif;
}




  /*++++++++++++++++++++++++++++++++++++++++++++main-content******************************************************************/
  /*++++++++++++++++++++++++++++++++++++++++++++main-content*****************************************************************/

  /* ###################################footer##################################### */
  footer {
    grid-area: footer;
    background: rgba(20,20,20,0.8);
    border-radius: 10px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    /*box-shadow: 0 0 8px 8px #0a0511 ;*/
    /*border-radius: 10px;*/
    color:white;
  }
  .Homeimage{
    height: 30px;
    width: 30px;
  }


}
