/*#################################################################################################################*/
/*                                        this is the query for mobile                                             */
/*#################################################################################################################*/

@media (max-width: 768px) {

  html {
    height: 100%;
  }

  body{
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
            "header"
            "core"
            "footer";
    min-height: 100%;
    text-align: center;
    background-image: url("/animeImages/sss.jpg");
  }

  /*########################-Header-###############################################*/
  header {
    position: relative;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    border-radius: 10px;
    max-height: 100px;
    box-shadow: 0 0 8px 8px #0a0511 ;
    background-color: rgba(0,0,0,0.5);
    margin: 5px;

  }

  .Title {
    font-size: 150%;
    position: relative;
    background: -webkit-linear-gradient(goldenrod,orange,gold,goldenrod,gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 0;
  }

  .current_Page{
    position: relative;
    bottom: 45px;
    font-size: 275%;
    background: -webkit-linear-gradient(45deg,#A019C1,#A019C1,#FE01D4,#FF1361,#FFF800,#FFF800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 0;
  }

  .usilogo {
    display: none;
  }




  /*#######################################################################*/
  content {
    grid-area: core;
    grid-template-areas:
            "nav"
            "main"
            "sidebar";
    grid-template-rows: auto auto auto;
    display: grid;


  }
  /*############################-Navigation bar-###########################*/
  .navigation {
    grid-area: nav;
    box-shadow: 0 0 10px 8px #0a0511 ;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Josefin Sans', sans-serif;
    margin: 5px;
  }
  .navigation ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2px 1em;
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
  }

  .navigation ul li{
    font-size: 12px;
  }

  .navigation ul li a{
    display: block;

  }

  .navigation li a:link {
    text-decoration: none;
    padding: 0px 10px 0px 10px;
  }

  .navigation li a:hover {
    background-color: goldenrod;
    border-radius: 10px;
    color: black;

  }
  /*====================================================================*/
  /*====================================================================*/




  /*############################-maincontent-###########################*/


  /*############################-Sidebar-###########################*/

  .sidebar{
    grid-area: sidebar;
    border-radius: 10px;
    box-shadow: 0 0 8px 8px #0a0511 ;
    margin: 0 5px 10px 5px;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:  center;
    min-height: 50px;
  }

  .sidebar_icons{
    opacity: 0.75;
    transition: 0.20s;
    width: 25%;
    height: 25%;
  }
  .sidebar_icons:hover{
    opacity: 1;
  }

  .sidebar_icons img{
    width: 35%;
    padding-top:  3%;
    padding-bottom: 3%
  }

  .sidebar ul{
    text-decoration: none;
  }
/*====================================================================*/
  /*====================================================================*/

  /*==============================Footer===========================*/
  footer{
    grid-area: footer;
    background: rgba(0,0,0, 0.5);
    border-radius:10px ;
    text-align: center;
    box-shadow: 0 0 15px 8px #0a0511;
    border-radius: 10px;
    color: gold;
    margin: 5px;
  }


}
/*====================================================================*/

/*====================================================================*/

/*#################################################################################################################*/
/*                                    this is the query for desktop                                                */
/*#################################################################################################################*/
@media (min-width: 768px) {

  html {
    height: 100%;
  }

  body {
    position: relative;
    display: grid;
    grid-template-rows: 200px 1fr auto;
    grid-template-areas:
            "header"
            "content"
            "footer";
    min-height: 100%;
    text-align: center;
  }

  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url("/animeImages/cosmos-1853491_1280.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

  }

  main {
    grid-template-areas: "nav main sidebar";
    grid-template-columns: 200px auto 200px;
    display: grid;

  }

  header {
    grid-area: header;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /*box-shadow: 0 0 8px 8px #0a0511  ;*/
    background: rgba(20,20,20,0.8);
  }

  .Title {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    background:white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    position: relative;
    top: 70px;

  }

  .current_Page {
    text-align: center;
    font-size: 100px;
    position: relative;
    /*left: 45px;*/
    margin: 0px 0px 0px -50px;
    background: -webkit-linear-gradient(45deg, #A019C1, #A019C1, #FE01D4, #FF1361, #FFF800, #FFF800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }


  .usilogo {
    width: 100px;
    height: 100px;
    position: static;
    margin: -10px 30px 30px 55px;
  }

  .usilogo1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 15px 8px #0a0511;
    position: static;
    margin-left: -110px;
    margin-top: -50px;
  }

  .BlogTitle {
    font-size: 450%;
    background: -webkit-linear-gradient(45deg, #A019C1, #A019C1, #FE01D4, #FF1361, #FFF800, #FFF800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  .navigation {
    grid-area: nav;
    background: rgba(20,20,20,0.8);
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    border-bottom-left-radius: 10px;
    max-width: 200px;


  }

  .navigation ul {
    list-style-type: none;
    text-align: center;
    padding-right: 30px;
  }

  .navigation ul li {
    padding-top: 40px;
    font-size: 30px;
  }

  .navigation ul li a {
    color:white;
    display: block;
  }

  .navigation li a:link {
    text-decoration: none;
    padding: 0px 10px 0px 10px;
  }

  .navigation li a:hover {
    text-decoration: underline rgba(137,221,241);
    border-radius: 10px;
    width:100px;
  }
  .navigation li a{
    transition: width 2s;
  }
  #current-page{
    text-decoration: underline rgba(137,221,241);
  }

  .sidebar {
    grid-area: sidebar;
    border-bottom-right-radius: 10px;
    background: rgba(20,20,20,0.8);
    max-width: 250px;

  }

  .sidebar_icons {
    padding: 10px;
    opacity: 0.75;
    transition: 0.20s;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .sidebar_icons img {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
  }

  .sidebar_icons:hover {
    opacity: 1;
  }
  .sidebar ul{
    list-style-type: none;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
  }
  .sidebar ul li a{
    color:white;
    transition: width 2s;
  }
  .sidebar li a:link {
    text-decoration: none;
    color: white;
  }
  .sidebar li a:hover {
    text-decoration: underline rgba(137,221,241);
    border-radius: 10px;
    width:100px;
  }
  /*++++++++++++++++++++++++++++++++++++++++++++main-content******************************************************************/
  /*++++++++++++++++++++++++++++++++++++++++++++main-content*****************************************************************/

  /* ###################################footer##################################### */
  footer {
    grid-area: footer;
    background: rgba(0,0,0, 0.5);
    border-radius: 10px;
    text-align: center;
    /*box-shadow: 0 0 8px 8px #0a0511 ;*/
    /*border-radius: 10px;*/
    color:rgba(137,221,241);
  }
  #Homeimage{
    height: 30px;
    width: 30px;
  }


}