  html{
    margin:0;
    padding: 0;
    height: 100%;
  }

  body{
    margin:0;
    padding: 0;
  height: 100%;
  }
  .main{
  background-color: black;
  display: flex;
  height: 100%;
}
.header{
  width: 100%;
  background-color: grey;
  color: white;
}
.main_content{
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: left;
  background-color: lightgrey;
}
.card{
  display: flex;
  flex-flow: column;
  width: 30%;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

video{
  width: 100%;
  max-height: 250px;
}

.watch_button{

  width: 100%;
}
/*                                                                template */

